@{
    Layout = "~/_Layout.cshtml";

    Page.Title = "MegaDesk Quotes";
    var db = WebMatrix.Data.Database.Open("MegaDeskDB2");

    var selectOrder = "";
    var searchTerm = "";
    if (!Request.QueryString["searchCustomerName"].IsEmpty())
    {
        selectOrder = @"SELECT dq.DeskQuoteId, dq.Date, c.CustomerName, dq.Total, d.Width, d.Depth, d.NumOfDrawers, sf.MaterialName, s.ShippingDays
        FROM DeskQuote dq
        LEFT JOIN Customer c ON
            dq.CustomerId = c.CustomerId
        LEFT JOIN Desk d ON
            d.DeskId = dq.DeskId
        LEFT JOIN Shipping s ON
            s.ShippingId = dq.ShippingId
        LEFT JOIN SurfaceMaterial sf ON
            sf.MaterialId = dq.MaterialId
        WHERE c.CustomerName = @0";
        searchTerm = Request.QueryString["searchCustomerName"];
    } else
    {
        selectOrder = @"SELECT dq.DeskQuoteId, dq.Date, c.CustomerName, dq.Total, d.Width, d.Depth, d.NumOfDrawers, sf.MaterialName, s.ShippingDays
        FROM DeskQuote dq
        LEFT JOIN Customer c ON
            dq.CustomerId = c.CustomerId
        LEFT JOIN Desk d ON
            d.DeskId = dq.DeskId
        LEFT JOIN Shipping s ON
            s.ShippingId = dq.ShippingId
        LEFT JOIN SurfaceMaterial sf ON
            sf.MaterialId = dq.MaterialId";
        searchTerm = "";
    }

    var selectedData = db.Query(selectOrder, searchTerm);
    var grid = new WebGrid(source: selectedData, defaultSort: "CustomerName", rowsPerPage: 5);
}

<body>
    <h1>My Quotes</h1>
    <form method="get">
        <div>
            <label for="searchCustomerName">Search by Customer Name:</label>
            <input id="searchCustomerName" type="text" name="searchCustomerName" value="@Request.QueryString["searchCustomerName"]" />
            @*<input type="hidden" name="searchKeyword" value=""/>*@
            <input type="Submit" value="Search" /><br />
        </div>
    </form>
    <form>
        <input type="submit" name="buttonSubmit" value="Clear Search" />
        <br /><br />
    </form>

    <div>
        @grid.GetHtml(
            tableStyle: "grid",
            headerStyle: "head",
            alternatingRowStyle: "alt",
            columns: grid.Columns(
                grid.Column(format: @<a href="~/editDeskQuote?id=@item.DeskQuoteId">Edit</a>),
        @*grid.Column(format:@<strong>@item.Title</strong>),*@
                        grid.Column("DeskQuoteId"),
                        grid.Column("Date"),
                        grid.Column("CustomerName"),
                        grid.Column("Total"),
                        grid.Column("Width"),
                        grid.Column("Depth"),
                        grid.Column("NumOfDrawers"),
                        grid.Column("MaterialName"),
                        grid.Column("ShippingDays"),
                        grid.Column(format: @<a href="~/deleteDeskQuote?id=@item.DeskQuoteId">Delete</a>)
                                         )
                                )
    </div>
    <p>
        <a class="navbutton" href="~/addDeskQuote.cshtml">Add a desk</a>
    </p>
</body>